<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div style="display: flex; flex: 1; flex-direction: column; border: 2px solid lightblue; padding: 15px;">
      <% comments.each do |comment|%>
        <h3><%=User.find(comment.author_id).name%>: <%= comment.text%></h3>
      <% end%>
    </div>
  </body>
</html>
