<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to user_post_path( user, post) do%>
      <div class="user" 
          style="display: flex;
                flex-direction: column;
                column-gap: 5px;
                border: 2px solid lightblue;
                padding: 10px;
                ">
        <h1><%=post.title%></h1>
        <p><%=post.text%></p>
        <div style="display: flex; flex: 1; justify-content: end;">
          <p>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%> </p>
        </div>
      </div>
    <% end %>
  </body>
</html>
