<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to user_path(user), id: user.id do%>
      <div class="user" 
          style="display: flex;
                column-gap: 5px;
                ">
        <img
          class="user__image"
          style="width: 200px;
                  height: 250px;
                  background-position: center center;
                  background-repeat: no-repeat;
                  border: 2px solid lightgreen
                  "
          src=<%= user.photo%>
        />
        <div class="user__details" 
              style="display: flex;
                    flex: 1;
                    justify-content: space-around;
                    border: 2px solid blue;
                    border-radius: 5px;
                    height: 250px;
                    ">
          <h1 style="font-size: 50px;"><%= user.name%></h1>
          <h3 style="justify-self: bottom; margin-top: 200px">number of posts: <%= user.posts_counter%></h3>
        </div>
      </div>
    <% end %>
  </body>
</html>
