<!DOCTYPE html>
<html>
  <head>
    <title>User Posts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div 
      style="
        border: 2px solid lightblue;
        padding: 10px;
      "
    >
      <div 
          style="
          display: flex; 
          justify-content: space-between;
          "
      >
        <h2><%=@post.title%>: <%= @user.name%></h2>
        <h4>comments: <%=@post.comments_counter%>, likes: <%= @post.likes_counter%></h4>
      </div>
      <p>
        <%=@post.text%>
      </p>
    </div>
    <div style='display:flex; flex-direction: column; align-items: center'>
      <%= link_to new_post_comment_path(@post) do %>
        <button style="width: 200px; height: 30px; margin: 20px 0;"> add comment </button>
      <% end%>
    </div>
    <div style='display:flex; flex-direction: column; align-items: center'>
      <%= button_to post_likes_path( @post), method: 'post' do %>
        <%= @post.likes.size %> like
      <% end %>
    </div>
    <div style="margin-top: 15px;">
      <%= render partial: 'shared/comment', locals: {comments: @comments}%>
    </div>
  </body>
</html>
